
# Ignore IntelliJ IDEA project files
.idea/

# Ignore target directory
target/

# Ignore Maven build files
*.log
*.tmp
*.bak
*.swp

# Ignore compiled Java class files
*.class

# Ignore package files
*.jar
*.war
*.ear
/.idea/
*.prefs
Coding Project/server/bin/.project
Coding Project/server/bin/.mvn/wrapper/maven-wrapper.properties
Coding Project/server/.project
Coding Project/server/.classpath
.project
