/* EnterLobbyPage.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh ;
    color: #ffffff; /* text-white */
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2d3748;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    color: #f7fafc;
    margin-bottom: .75rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.lobby-code {
    justify-content: center;
    font-size: 0.75rem; /* Smaller font size */
    color: #a0aec0; /* Lighter color */
    margin: 0; /* Remove margins */
    padding: -0.25rem 0; /* Minimal padding */
    text-align: center; /* Align text to the left */
    font-style: italic; /* Italicize the text */
}

.tooltip{
    visibility: hidden;
}

.lobby-code:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100%;
    padding: 0.5rem;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: transparent;
    text-align: center;
}
button{
    border-radius: 10px;
    background-blend-mode: hard-light;
}
.join-button {
    padding: 0.5rem 1rem;
        cursor: pointer;
    background-color: #4bd84b;
    border: transparent;
}

.create-button{
    margin: .5rem 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgb(74, 98, 181);
    border: transparent;
}

.button-holders{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-container{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin:0;
}

.no-visibility{
    visibility: hidden;
    font-size: 12px;
    margin: 0;
}

.boat-image{
    width: 10rem;
    height: 12rem;
    margin-bottom: 1rem;
}

#help-button{
    background-color: transparent;
    color: white;
    border-color: transparent;

    &:hover{
        text-decoration: underline;
    }
}